// *** Colors ***
$color-white: #fff;

$color-bg: #fafafa;

$color-primary: #28283d;
$color-secondary: #87879d;
$color-tertiary: #d1d1df;

$color-purple: #855fb1;
$color-purple-light: #d9b8ff;

$color-cyan: #4d96a9;
$color-cyan-light: #8fe3f9;

$color-hover-purple: #b18bdd;
$color-hover-cyan: #71c0d4;

// *** Font Family ***
$family-primary: "Red Hat Display", serif;
